# Désactiver le script postinstall global
ignore-scripts=true
# Utiliser le registre npm par défaut
registry=https://registry.npmjs.org/
# Activer le mode strict SSL
strict-ssl=true
# Désactiver les scripts dangereux
ignore-scripts=true
# Désactiver l'audit pour accélérer l'installation
audit=false
# Désactiver le fund
fund=false
